{% extends "layout.jinja2" %}

{% block content %}
<div class="content">
  <h1><span style="background-color: {{color}}" class="font-semi-bold">Pyramid</span> <span class="smaller">Starter project</span></h1>
  <p class="lead">Welcome to <span class="font-normal">Pyramid Scaffold</span>, a&nbsp;Pyramid application generated&nbsp;by<br><span class="font-normal">Cookiecutter</span>.</p>
</div>


<li><a href="http://localhost:6543/color/green">Make the text green.</a></li>
<li><a href="http://localhost:6543/color/black">Make the text black.</a></li>
<li><a href="http://localhost:6543/color/blue">Make the text blue.</a></li>
<li><a href="http://localhost:6543/color/yellow">Make the text yellow.</a></li>
<li><a href="http://localhost:6543/color/red">Make the text red.</a>
</div>
{% endblock content %}
